<html>
<head>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="index_container">
	<div id="index_div">
		<p class="index_p"><%= @test %></p>
	</div>
</div>

</body>
</html>
